In [3]:
def  messeage():
    print("Nettech of india")
# call function 
messeage()

Nettech of india

In [14]:
def call(name, surname):
    print( name+" "+ surname)
call("vaishnavi" , "akre")

vaishnavi akre

In [15]:
def my_fuction(a,b):
    return a+b
my_fuction(5,6)

11

In [16]:
def message(a,b):
    return a-b
message(5,3)

2

In [24]:
def my_fuction(*kids):
    print("The youngest child is " + kids[2])
my_fuction('a','b','c')

The youngest child is c

In [28]:
def my_fuction (**kids):
    print("The youngest child is "+ kids['a'])
my_fuction(c='2',b='5',a='6')

The youngest child is 6

In [32]:
def ny_fuction (kid1,kid2,kid3):
    print("The youngest child is "+ kid2)
ny_fuction(kid1='a',kid2='b',kid3='c')

The youngest child is b

In [33]:
def my_function(country="india"):
    print("i am from is "+ country)
my_function("america")
my_function("london")
my_function()
my_function("US")

i am from is america
i am from is london
i am from is india
i am from is US

In [36]:
def my_function(food):
    for x in food:
        print(x)
fruits=('mango','banana','chiku') 
my_function(fruits)

mango
banana
chiku

In [53]:
def arthimetic(num1,num2):
    add = num1+num2 
    sub = num1-num2
    division = num1/num2
    multiplication= num1*num2
    return add, sub, division, multiplication

a,b,c,d= arthimetic(10,4)

print("Addition:", a)
print("subtraction:", b)
print("division:", c)
print("multiplication:", d)

Addition: 14
subtraction: 6
division: 2.5
multiplication: 40

In [55]:
def sum(a,b):
    return a+b
total= sum(10,20)
print(total)
total=sum(5,sum(4,5))
print(total)

30
14

In [57]:
def sum(a,b):
    return a+b
total=sum(30,40)
print(total)
total=sum(30,sum(20,30))
print(total)

70
80

In [59]:
def sub(a,b):
    return a-b
sub(6,3)

3

In [2]:
def calc(num1,num2):
    add = num1+num2
    sub = num1-num2
    division = num1/num2
    multiplication = num1*num2
    return add , sub , division , multiplication
calc(5,6)

(11, -1, 0.8333333333333334, 30)

In [3]:
def sum(a,b):
    return a+b
sum(3,5)

8

In [10]:
def mumber(*kids):
        print("The youngest kids is  " + kids[1])
mumber('a','b','c','d')

The youngest kids is  b

In [12]:
def mumber (*kids):
    return " The youngest kids is " + kids[2]
mumber('a','b','c','d')

' The youngest kids is c'