In [2]:
# for loop:
for  i  in range(1,11):
      print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range (1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
for x in range (3,30,4):
    print(x,end=" ")

3 7 11 15 19 23 27

In [5]:
for a in range (4,40,5):
    print(a)

4
9
14
19
24
29
34
39

In [3]:
for i in range ( 5,20,2):
    print(i)

5
7
9
11
13
15
17
19

In [4]:
fruits =["apple","cherry", "banana", "kiwi"]
for i in fruits:
    print(i)

apple
cherry
banana
kiwi

In [15]:
# nested for loop:
adj = ["tasty","juicy"]
fruits = ["apple","banana", "kiwi", "cherry"]                                                        
for x in adj :
     for y in fruits :
            print(x , y)

tasty apple
tasty banana
tasty kiwi
tasty cherry
juicy apple
juicy banana
juicy kiwi
juicy cherry

In [16]:
# while loop:
i = 1
while i <= 6:
    print(i)
    i+=1

1
2
3
4
5
6

In [24]:
i=2
while i<=6:
    print(i)
    i+=1

2
3
4
5
6

In [27]:
# Example to calculate the sum of first ten numbers
sum = 0
i = 1
while i<=10:
    sum = sum + i
    i = i + 1
print("sum of first ten number is:",sum)

sum of first ten number is: 55

In [28]:
sum = 15
n = 2 
while n<=20:
    sum = sum + n
    n = n + 1
print("sum of first ten number is :",sum)

sum of first ten number is : 224